.LoginForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.LoginForm-field {
  display: flex;
  flex-direction: column;
}

.LoginForm-input {
  min-width: 195px;
}
.LoginForm-error {
  color: #ff0000;
}
